APP_NAME=RAG Assistant

ENV=development

DEBUG=True

DATABASE_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/rag_db

REDIS_HOST=redis
REDIS_PORT=6379

QDRANT_URL=http://qdrant:6333
QDRANT_COLLECTION=documents
VECTOR_SIZE=1536

OPENAI_API_KEY=your_api_key_here

EMBEDDING_MODEL=text-embedding-3-small

CHAT_MODEL=gpt-4.1-mini